body {
    background-color: #0e2225;
}

/* ======== NAVIGATION ========  */
#navigation {
    background-color: #0e2225;
    display: flex;
    justify-content: center;
    padding: 10px;
}

#navigation button {
    background-color: #555;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}

/* ======== CONTENT ========  */
#content {
    padding: 20px;
}

/* ======== CHAT ========  */
.chat-container {
    width: 100%;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.messages {
    padding: 10px;
    height: 500px;
    overflow-y: scroll;
    background-color: #f7f7f7;
}

.message {
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
}

.received {
    background-color: #e0f7fa;
}

.sent {
    background-color: #e8eaf6;
    text-align: right;
}

.input-box {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f5f5f5;
}

.input-box input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-box button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #2196F3;
    color: white;
    cursor: pointer;
}

/* ======== VOICE ========  */

.img_container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {


}

.spin {
    transform: scale(1);
    animation: spin 3s linear infinite;
}

.pulse {
    animation: pulse 1s infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
	}

	70% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(0.95);
	}
}

.speech_to_text_content {
    color: white;
}

.gpt_answer_content {
    color: white;
}

/* ADMIN PANEL */

.admin-container {
    background-color: #cccccc;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 20px;
}

.row {
	margin-bottom: 80px;
	display: flex;
	justify-content: space-between;
}

#post_title {
    justify-content: center;
}

.buttons {
    padding: 10px 20px;
    margin: 5px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

.buttons:hover {
    background-color: #0056b3;
}

.done_button {
	display: flex;
	justify-content: center;
}
